{% extends 'myapp/base.html' %}
{% block content %}
{% load static %}
<div class="grid p-20 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1">
    <div class="mr-20">
        <img class="mt-3 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 ml-130 md:text-xl lg:mr-20" src="{% static 'myapp/images/userprofile.jpg' %}" alt='job hunt' style='width: 100%;' />
    </div>
    <div class="rounded shadow-lg">
        <div>
            <img class=""src="{{seller.profile.image.url}}" alt="">
        </div>
        <div class="font-semibold text-xl mb-2 px-6 py-4">
            <h1>Username : {{seller.email}}</h1>
        </div>
        <div class="font-semibold text-xl mb-2 px-6 py-4">
            <h1>Email : {{seller.username}}</h1>
        </div>
        <div class="font-semibold text-xl mb-2 px-6 py-4">
            <h1>📞 Contact Number : {{seller.profile.contact_number}}</h1>
        </div>
    </div>
</div>
{% endblock %}
