{% extends 'myapp/base.html'%}
{% block content %}
{% load static %}
<h1 class="text-2xl font-bold m-10">➕Add Product</h1>
<form class="flex w-3/5 bg-white shadow-md m-10 px-8 py-8" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Name :</label>
        <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" placeholder="Enter Product Name" type="text" name="name" id="name">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Price :</label>
        <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" placeholder="Enter Product Price" type="text" name="price" id="price">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Description :</label>
        <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" placeholder="Enter Product Description" type="text" name="desc" id="desc">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Image :</label>
        <input class="py-2" type="file" accept="image/*" name="upload" id="upload">
    </div>
    <!-- <input placeholder="price" type="text" name="price" id="price">
    <input placeholder="desc" type="text" name="desc" id="desc"> -->
    <!-- <input type="file" accept="image/*" name="upload" id="upload"> -->
    <div class="mb-4">
      <input class="bg-green-500 hover:bg-green-700 text-white px-5 py-2" type="submit" name="Add Product" value="Add Product" id=""> 
    </div>
  </div>
  <div>
    <img class="mt-3 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0" src="{% static 'myapp/images/add.jpg' %}" alt='job hunt' style='width: 100%;' />
  </div> 
    <!-- <input type="submit" name="Add Product" value="Add Product" id=""> -->
</form>
{% endblock %}
